{% extends 'base.html.twig' %}

{% block title %}Edit DataOak{% endblock %}

{% block body %}
    <h1>Edit DataOak</h1>

    {{ include('data_oak/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('data_oak_index') }}">back to list</a>

    {{ include('data_oak/_delete_form.html.twig') }}
{% endblock %}
