{% extends 'base.html.twig' %}

{% block title %}New DataOak{% endblock %}

{% block body %}
<div class="container">
    <h1>Ajouter une sonde </h1>

    {{ include('data_oak/_form.html.twig') }}

    <a href="{{ path('data_oak_index') }}">Retour à la liste</a>
</div>
    <script>
        $(document).ready(function() {
            // you may need to change this code if you are not using Bootstrap Datepicker
            $('.js-datepicker').datepicker({
                format: 'yyyy-mm-dd'
            });
        });
    </script>
{% endblock %}

